@import '../helper/variables';

.Header {
	// layout
	padding: 12px;
	text-align: center;
	margin-bottom: 0px;

	// font
	color: white;
	font-size: $font-size-large;
	font-weight: 600;

	// etc
	background-color: #00B5AD;
}