@import '../helper/variables';

.Navigate {
	position: relative;

	button {
		// layout
		width: 100px;
		height: 40px;

		// font
		font-size: $font-size-medium;
		color: #ffffff;

		// etc
		background-color: #00B5AD; 

		&:hover {
			background-color: teal;
		}

		&.Navigate-Button-next {
			float: right;
			margin: 0px;
		}
	}
	
	.Navigate-page-num {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

