@import '../helper/variables';

.PostWrapper {
	width: 500px;
	margin: 0 auto;
	margin-top: 20px;

	@media (max-width: 768px) {
		width: 90%;
	}
}

.Post {
	// layout
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 20px;

	// etc
	background-color: #FAFAFA;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	h1 {
		font-size: $font-size-large;
	}
	
	p {
		font-size: $font-size-medium;
	}

	.CommentList {
		// layout
    padding: 10px;
		border-radius: 5px;
		
		// etc
		list-style-type: none;
		background-color: #F0F0F0;
		
		.Comment p {
			// font
			font-size: $font-size-small;
			color: #868e96;

			b {
				color: #212529;
			}
		}
	}
}
